@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

@font-face {
  font-family: Bebas;
  src: url("../../assets/fonts/BebasKai-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --green: #87c830;
  --pink: #fc59a3;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #000;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  border: 1.5px solid #fff;
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.3s ease-in-out;
}

.navbar-collapse {
  display: none;
}

.navbar-toggler {
  border: none;
  color: var(--mount-meadow);
  background: transparent;
  position: absolute;
  top: 3%;
  right: 5%;
  font-size: 2rem;
}

.btn:hover {
  color: #000;
  background: #fff;
}

.btn-dark {
  border: 1.5px solid #000000;
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.3s ease-in-out;
  color: #000;
}

.btn-dark:hover {
  color: #fff;
  background: #000;
}

.spikes {
  position: relative;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, #2c3e50 25%, transparent 25%),
    linear-gradient(225deg, #2c3e50 25%, transparent 25%);
  background-position: 0 0;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.curved {
  --size: 30px;
  --R: calc(var(--size) * 1.28);
  --position: bottom;

  -webkit-mask: radial-gradient(
        var(--R) at left 50% var(--position) calc(1.8 * var(--size)),
        #000 99%,
        #0000 101%
      )
      left calc(50% - 2 * var(--size)) var(--position) 0 / calc(4 * var(--size))
      100%,
    radial-gradient(
        var(--R) at left 50% var(--position) calc(-0.8 * var(--size)),
        #0000 99%,
        #000 101%
      )
      left 50% var(--position) var(--size) / calc(4 * var(--size)) 100% repeat-x;

  background: #79d7a7;
  height: calc(var(--size) + 20px);
}

.pink {
  background-color: var(--pink) !important;
}

.spikes-inverted::after {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
  top: auto !important;
}

.spikes-white::after {
  background-image: linear-gradient(135deg, #fff 25%, transparent 25%),
    linear-gradient(225deg, #fff 25%, transparent 25%) !important;

  bottom: 0%;
}

.spike-pink::after {
  background-image: linear-gradient(135deg, var(--pink) 25%, transparent 25%),
    linear-gradient(225deg, var(--pink) 25%, transparent 25%) !important;
}

.sky {
  background: url("../../assets/img/sky.svg") no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}

.buildings {
  background: url("../../assets/img/buildings.svg") no-repeat center;
  background-size: contain;
  transform: translateZ(-525px) scale(3);
  z-index: 2;
}

.grass {
  background: url("../../assets/img/grass.svg") no-repeat center;
  background-size: contain;
  transform: translateZ(-400px) scale(2.75);
  z-index: 3;
}

.tree {
  background: url("../../assets/img/tree.svg") no-repeat center;
  background-size: contain;
  transform: translateZ(-250px) scale(2);
  z-index: 4;
}

.road_lamp_bench {
  background: url("../../assets/img/road_lamp_bench.svg") no-repeat center;
  background-size: contain;
  transform: translateZ(-125px) scale(1.6) translateY(-30px);
  z-index: 4;
}

.people1 {
  background: url("../../assets/img/professor.png") no-repeat center;
  background-size: auto !important;
  transform: translateZ(-100px) scale(0.8) translateX(-500px) translateY(350px);
  z-index: 5;
}

.people2 {
  background: url("../../assets/img/kids.png") no-repeat center;
  background-size: contain;
  transform: translateZ(-100px) scale(0.5) translateY(650px) translateX(600px);
  z-index: 6;
}

.parallax_2 {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.sky_1 {
  background: url("../../assets/img/sky.svg") no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}

.hero-text {
  background: linear-gradient(
    rgba(105, 211, 252, 0.25) 0%,
    rgba(255, 116, 161, 0.25) 86%,
    rgba(1, 0, 0, 0.25) 100%
  );

  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 7;
}

.hero-text h2 {
  font-size: 1.25rem;
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
}

.hero-text ul {
  font-size: 0.75rem;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
}

.hero-text ul li {
  margin-left: 1.25rem;
  list-style-type: none;
  float: left;
  visibility: hidden;
}

.hero-text ul li:nth-of-type(3) {
  visibility: visible;
}

.year-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 25rem;
}

.year-container h1 {
  font-family: Bebas, sans-serif;
  font-weight: 400;
  position: absolute;
  font-size: 12.5rem;
}

.year-container h1:nth-of-type(1) {
  top: 10%;
  left: 30%;
}

.year-container h1:nth-of-type(2) {
  left: 40%;
  bottom: 0;
}

.year-container h1:nth-of-type(3) {
  top: 0;
  right: 40%;
}

.year-container h1:nth-of-type(4) {
  right: 25%;
  bottom: 20%;
}

.social-container {
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
}

.social-container i {
  font-size: 1.25rem;
  margin-right: 0.25rem;
}

.info-container {
  background: #ffffff;
  color: #000;
  transform: translateZ(0) scale(1);
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-container img {
  width: 75%;
  margin-bottom: 2.5rem;
  filter: saturate(0.65);
}

.info-container h2,
.info-container p {
  margin-bottom: 1rem;
}

.text-container p:nth-of-type(1) {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 1rem 2.5rem;
}

.text-container p:nth-of-type(2) {
  font-size: 0.6rem;
  margin-bottom: 3rem;
}

@media (min-width: 760px) {
  .hero-text ul li {
    visibility: visible;
  }

  .info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    align-items: center;
    text-align: left;
  }

  .info-container img {
    justify-self: end;
    width: 75%;
  }

  .text-container p:nth-of-type(1) {
    font-size: 1rem;
    width: 75%;
    margin: 1rem 0;
  }

  .text-container p:nth-of-type(1) {
    font-size: 0.86rem;
  }
}

@media (max-width: 2000px) {
  .sky,
  .buildings,
  .grass,
  .tree,
  .road_lamp_bench,
  .people1,
  .hero-text {
    background-size: cover;
  }
}

@media (max-width: 700px) {
  .people1 {
    background-size: contain;
    transform: translateZ(-118px) scale(1) translateY(374px) translateX(-2px);
  }

  .people2 {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }

  .navbar-collapse {
    display: block !important;
  }
}
